.my_cart .myCart_closeBtn {
    align-items: center; 
    justify-content: flex-end; 
    display: flex; 
    flex-direction: row;
}
.my_cart .cart_data {
    align-items: center; 
    justify-content: center; 
    display: flex; 
    flex-direction: column;
}
.my_cart .cart_btn {
    align-items: center; 
    justify-content: space-between; 
    display: flex;
     flex-direction: row;
}