:root {
    --primary-color: #542e90;
    --secondary-color: #fff100;
}

// .header {
//     background: #000;
//     color: white
// }
.header .cart-header {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 27px;
    text-align: center;
}

.cart-item {
    grid-column-gap: 16px;
    background: #fff 0 0 no-repeat padding-box;
    border: 0.75px solid #ececec;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 104px auto;
    height: 122px;
    margin-bottom: 14px;
    padding: 8px;
    width: 100%;
    color: black;
}

.item-remove {
    background: #fff200 0 0 no-repeat padding-box;
    border: none;
    border-radius: 12px;
    color: #3c3c3b;
    font-size: 10px;
    font-weight: 700;
    outline: none;
    padding: 5px 18px;
    margin-right: 6px;
    max-width: 120px;
}

@media (min-width: 320.98px) and (max-width: 575.98px) {
    .header .cart-item {
        border-radius: 15px;
        grid-template-columns: 69px auto;
        height: 110px;
        padding: 8px 16px 8px 8px;
    }

    .header .item-price {

        font-size: 12px;
    }

    .header .item-remove {

        font-size: 10px;
        height: 24px;
        padding: 5px 18px;
        width: 80px;

    }
}

.header .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 6px;
    padding-right: 8px;
    padding-top: 6px;
    width: 100%;
}

.header .cart_total {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {

    --bs-offcanvas-width: 500px;
}

.item-description {
    color: #1d1d1b;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
    width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-cart {
    border-radius: 20px;
}

.item-quantity {
    color: #3c3c3b;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
}

.item-price {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;

}

.header .item {
    text-align: start;
}